

@media screen and (max-width: 767.98px) {

    .header-list,
    .contact-information {
        display: none;
    }
    .features-title {
        text-align: center;
    }

    .logo-footer {
        display: flex;
        justify-content: center;
    }

    .social-media-footer {
        text-align: center;
    }

    .footer-form-p {
        text-align: center;
    }

    .logo-container {
        margin: 0 auto;
    }
}
   

@media only screen and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient rgba(46, 47, 66, 0.7),
            url(../images/hero-section/hero-bg-tablet@2.jpg);
    }
}

/* Tablet */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .hero-section {
        max-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient rgba(46, 47, 66, 0.7),
            url(../images/hero-section/hero-bg-tablet.jpg);
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
    }

    .button-mobile-menu {
        display: none;
    }

    .features-list {
        gap: 24px;
        row-gap: 72px;
    }

    .features-box {
        width: calc((100% - 24px) / 2);
    }

    .team-list{
        gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }

    .portfolio-list {
        gap: 24px;
        row-gap: 72px;
        padding: 0;
    }

    .portfolio-card {
        width: calc((100% - 24px) / 2);
    }

    .footer-container{
        gap: 24px;
        row-gap: 72px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1156.98px) {
    .contact-information {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .header-list {
        gap: 40px;
    }

    .header-list-contacts{
        flex-direction: column;
        gap: 12px;
    }

    .contact {
        padding: 0;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
    }

    .footer-container {
        padding-left: 92px;
    }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .hero-section {
        background-image: linear-gradient rgba(46, 47, 66, 0.7),
            url(../images/hero-section/hero-bg-tablet@2x.jpg);
    }
}

/* 
Desktop
*/
@media (max-width: 1157.98px) {
    .icon-container {
        visibility: hidden;
        position: absolute;
    }

    .features-text {
        font-weight: 500;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-list-contacts {
        display: flex;
        gap: 40px;
    }

    .logo {
        padding: 24px 0;
    }

    .hero-section {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient rgba(46, 47, 66, 0.7),
            url(../images/hero-section/hero-bg.jpg);
    }

    .features-list{
        width: calc((100% - 72px) / 4);
    }

    .icon-container {
        background-color: var(--c-second);
        border: 1px solid var(--c-light-slate);
        padding: 24px 100px;
        margin-bottom: 8px;
        height: 112px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .features-title {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
    }

    .team-section {
        padding: 120px 0;
    }

    /* Portfolio */
    .portfolio-section {
        padding: 120px 0;
    }

    .portfolio-list {
        row-gap: 48px;
    }

    .portfolio-cardt {
        width: calc((100% - 48px) / 3);
    }

    .footer {
        padding: 100px 0;
    }

    .footer-input {
        width: 264px;
    }

    .logo-container {
        margin-right: 40px;
    }

    .footer-container {
        gap: 80px;
    }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
    .hero-section {
        background-image: linear-gradient rgba(46, 47, 66, 0.7),
            url(../images/hero-section/hero-bg@2.jpg);
    }
}